body {
    background-image: url('../assets/backgroundMountains.jpg');
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}

.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 300px;
}

.center{
    text-align: center;
    border-radius: 20%;
}

.center h1 {
    font-size: 46px;
    color: white;
    background-color: rgba(223, 193, 137, 0.87);
    padding: 34px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 70px;
}

.chooseLog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;


}

.choose {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #5E3333;
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: transform 0.2s;
}

a:hover {
    transform: scale(1.1);
}