body {
    
    font-family: 'Roboto Mono', monospace;
}

.mainPage {
    background-image: url('../assets/nature-3507.gif');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.center{
    text-align: center;
    border-radius: 20%;
}

    .center h1 {
        font-size: 46px;
        color: white;
        background-color: #DFC189;
        padding: 34px;
        padding-top: 18px;
        padding-bottom: 18px;
        border-radius: 70px;
    }

.highlight {
    letter-spacing: 7px;
    color: #02542D;
}

.chooseLog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;


}

.choose {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #DFC189;
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: transform 0.2s;
}

a:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}