.gameMode{
    width: 303px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
    height: 330px;
    border: 5px solid white;
}

    .gameMode h2 {
        font-size: 40px;
        color: white;
        text-align: center;
        margin-top: 20px;
        backdrop-filter: blur(5px);
    }


    .gameMode p {
        filter: none;
        font-size: 20px;
        color: white;
        text-align: center;
        margin-top: 20px;
        backdrop-filter: blur(5px);
    }

